@charset "UTF-8";
/* Global Imports -------------------- */
/*//////////////////////////RESET TYPE STUFFS/////////////////////*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* //////////////HTML5 display-role reset for older browsers////////////// */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ’’;
  content: none; }

/*///////////////////Box Size Border Box////////////////*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*///////////////////////Begin Code////////////////////////*/
html, body, .container {
  width: 100%;
  height: 100vh;
  margin: 0; }

.container {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch; }

img[rel="main"] {
  position: absolute;
  height: 100vh;
  width: 100%; }

.container > * {
  flex: 1 1 auto; }

.mid1 {
  position: relative;
  width: 100%;
  align-items: flex-end;
  margin-top: auto;
  display: flex; }

.partial-container {
  position: relative;
  z-index: 0;
  top: 11.75vh;
  height: 75vh;
  width: 100%;
  background-color: #FFEAC6; }

.columns {
  flex-direction: column; }

.mid1.inventory-table {
  align-items: flex-start;
  justify-content: space-around;
  width: 70vw;
  top: 5vh;
  left: 30vw; }

img[rel="inventory"] {
  height: 50vh;
  width: 50vw;
  display: flex;
  align-items: center; }

img[rel="conversion"] {
  height: 5vh;
  width: 14vw;
  display: flex; }

.mid2 {
  position: relative;
  width: 100%; }

.mid2.mid-inventory {
  position: relative;
  width: 100%;
  height: 30vh;
  bottom: 15vh;
  left: 46vw; }

.mid2.mid2-landing {
  position: relative;
  display: flex;
  height: 30vh;
  justify-content: center;
  align-content: center;
  flex-direction: column; }

.mid h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40vw;
  background: #FFEAC6;
  left: 30vw; }

.mid h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40vw;
  background: #FFEAC6;
  left: 30vw; }

.mid3 {
  position: relative;
  display: flex;
  width: 100%;
  height: 15vh;
  bottom: 10vh; }

.mid3.flex-inventory {
  position: relative;
  width: 100%;
  top: 60vh;
  height: 40vh; }

.center-inflex {
  display: flex;
  justify-content: center; }

th {
  padding: .5vw; }

td {
  padding: .5vw; }

/*////////////////////BEGIN GALLERY PAGE/////////////////////*/
.footer {
  order: 1;
  position: relative;
  display: flex;
  width: 100%;
  display: inline-flex;
  align-items: flex-end; }

.footer-content {
  background: #02D9D9;
  width: 100vw;
  height: 4vh;
  padding: 1vh; }

.footer-content ul {
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none; }

.footer-content li {
  display: inline-flex;
  padding: 0 2.5vw; }

.footer-content li:hover {
  color: #FFFFFF;
  cursor: pointer;
  cursor: hand; }

.header-content {
  position: relative;
  flex-wrap: wrap;
  width: 100vw; }

.header-content ul {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  justify-content: flex-end; }

.landing-ul {
  padding-left: 60vw;
  padding-top: 1vw; }

.header-content li {
  display: inline-flex;
  justify-content: space-around;
  padding-right: 4vw; }

.header-content li:hover {
  color: #FFFFFF;
  cursor: pointer;
  cursor: hand; }

.button {
  background: #fcd703;
  background-image: -webkit-linear-gradient(top, #fcd703, #e6c50c);
  background-image: -moz-linear-gradient(top, #fcd703, #e6c50c);
  background-image: -ms-linear-gradient(top, #fcd703, #e6c50c);
  background-image: -o-linear-gradient(top, #fcd703, #e6c50c);
  background-image: linear-gradient(to bottom, #fcd703, #e6c50c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #878787;
  font-size: 26px;
  padding: 20px 40px 20px 40px;
  text-decoration: none; }

.button:hover {
  background: #f7e891;
  background-image: -webkit-linear-gradient(top, #f7e891, #fae257);
  background-image: -moz-linear-gradient(top, #f7e891, #fae257);
  background-image: -ms-linear-gradient(top, #f7e891, #fae257);
  background-image: -o-linear-gradient(top, #f7e891, #fae257);
  background-image: linear-gradient(to bottom, #f7e891, #fae257);
  text-decoration: none; }

.dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  bottom: 10vw; }

.small {
  height: 3vh; }

.small-ish {
  height: 3.5vh; }

.recipe-list {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center; }

.dropdown-btn ul {
  background: #ff9933;
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, 0.1); }

.dropdown-btn li {
  float: left;
  padding: 0px 0px 0px 10px; }

.dropdown-btn li a {
  color: #000;
  display: block;
  font-weight: normal;
  line-height: 50px;
  margin: 0px;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none; }

.dropdown-btn li a:hover {
  background: #cc6600;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3); }

.dropdown-btn ul li:hover a {
  background: #cc6600;
  color: #FFFFFF;
  text-decoration: none; }

.dropdown-btn li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200; }

.dropdown-btn li:hover ul {
  display: block; }

.dropdown-btn li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  background: #ff9933;
  /*this is where the rounded corners for the dropdown disappears*/ }

.dropdown-btn li:hover li a {
  background: none; }

.dropdown-btn li ul a {
  display: block;
  height: 50px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left; }

.dropdown-btn li ul a:hover,
.dropdown-btn li ul li:hover a {
  border: 0px;
  color: #FFFFFF;
  text-decoration: none;
  background: #cc6600;
  -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3); }

.rec-list-btn {
  width: 10vw; }

form {
  position: relative;
  display: flex;
  width: 40vw;
  left: 50vw;
  bottom: 10vh; }

.buildform {
  position: relative;
  height: 50vh;
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
  left: 20vw;
  bottom: 15vh; }

label {
  position: relative;
  display: flex;
  padding: 1vw;
  align-items: baseline; }

.inventory-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 60vw; }

.recipe-entry {
  position: relative;
  height: 20vh;
  width: 70vw;
  right: 30vw;
  top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center; }

form.drink-number {
  position: relative;
  height: 5vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30vh; }

.menu-inventory {
  width: 20vw;
  display: flex;
  flex-direction: row; }

.encompass {
  display: flex;
  flex-direction: column; }

.med-text-box {
  position: relative;
  display: flex;
  align-self: center;
  width: 20vw;
  height: 10vh; }

.lg-text-box {
  position: relative;
  display: flex;
  align-self: center;
  width: 40vw;
  height: 20vh; }

.btn {
  background: #ff9933;
  background-image: -webkit-linear-gradient(top, #ff9933, #cc6600);
  background-image: -moz-linear-gradient(top, #ff9933, #cc6600);
  background-image: -ms-linear-gradient(top, #ff9933, #cc6600);
  background-image: -o-linear-gradient(top, #ff9933, #cc6600);
  background-image: linear-gradient(to bottom, #ff9933, #cc6600);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  text-decoration: none; }

.btn:hover {
  background: #FFC57E;
  background-image: -webkit-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -moz-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -ms-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -o-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: linear-gradient(to bottom, #FFC57E, #FF9D26);
  text-decoration: none; }

.sm-inv-btn {
  background: #ff9933;
  background-image: -webkit-linear-gradient(top, #ff9933, #cc6600);
  background-image: -moz-linear-gradient(top, #ff9933, #cc6600);
  background-image: -ms-linear-gradient(top, #ff9933, #cc6600);
  background-image: -o-linear-gradient(top, #ff9933, #cc6600);
  background-image: linear-gradient(to bottom, #ff9933, #cc6600);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
  text-decoration: none; }

.sm-inv-btn:hover {
  background: #FFC57E;
  background-image: -webkit-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -moz-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -ms-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -o-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: linear-gradient(to bottom, #FFC57E, #FF9D26);
  text-decoration: none; }

.ex-mar {
  margin: .5vw;
  padding: .5vw; }

h3 {
  font-size: 24px;
  font-family: "Alice", serif; }

h1 {
  font-size: 86px;
  font-family: "Sacramento", cursive;
  color: #42280D; }

h2 {
  font-size: 42px;
  font-family: "Sacramento", cursive;
  color: #42280D; }

.drink-name {
  position: relative;
  display: flex;
  justify-content: center;
  top: 10vh; }

.servings {
  position: relative;
  display: flex;
  justify-content: center;
  top: 15vh; }

li {
  font-family: 'Alice',serif;
  font-weight: bold;
  color: #42280D; }

.big-li {
  font-weight: normal;
  justify-content: center;
  font-size: 46px;
  width: 30vw;
  font-family: "Sacramento", cursive;
  padding-left: 5vw;
  padding-right: 60vw; }

.big-inventory {
  font-weight: normal;
  justify-content: center;
  font-size: 32px;
  width: 30vw;
  font-family: "Sacramento", cursive;
  padding-left: 5vw; }

.center-inflex {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=application.css.map */
