.button {
  background: #fcd703;
  background-image: -webkit-linear-gradient(top, #fcd703, #e6c50c);
  background-image: -moz-linear-gradient(top, #fcd703, #e6c50c);
  background-image: -ms-linear-gradient(top, #fcd703, #e6c50c);
  background-image: -o-linear-gradient(top, #fcd703, #e6c50c);
  background-image: linear-gradient(to bottom, #fcd703, #e6c50c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: $text-dark;
  font-size: 26px;
  padding: 20px 40px 20px 40px;
  text-decoration: none;
}

.button:hover {
  background: #f7e891;
  background-image: -webkit-linear-gradient(top, #f7e891, #fae257);
  background-image: -moz-linear-gradient(top, #f7e891, #fae257);
  background-image: -ms-linear-gradient(top, #f7e891, #fae257);
  background-image: -o-linear-gradient(top, #f7e891, #fae257);
  background-image: linear-gradient(to bottom, #f7e891, #fae257);
  text-decoration: none;
}

///////////////DropDown Styling/////////////////////

.dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  bottom: 10vw;
}
.small {
  height: 3vh;
}

.small-ish {
  height: 3.5vh;
}

.recipe-list {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-btn ul {
  background: #ff9933;
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, 0.1);
}


.dropdown-btn li {
  float: left;
  padding: 0px 0px 0px 10px;
}
.dropdown-btn li a {
  color: #000;
  display: block;
  font-weight: normal;
  line-height: 50px;
  margin: 0px;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
}
.dropdown-btn li a:hover {
  background: #cc6600;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
}
.dropdown-btn ul li:hover a {
  background: #cc6600;
  color: #FFFFFF;
  text-decoration: none;
}
.dropdown-btn li ul {
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
}
.dropdown-btn li:hover ul {
  display: block;
}
.dropdown-btn li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  background: #ff9933;
  /*this is where the rounded corners for the dropdown disappears*/

}
.dropdown-btn li:hover li a {
  background: none;
}
.dropdown-btn li ul a {
  display: block;
  height: 50px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
.dropdown-btn li ul a:hover,
.dropdown-btn li ul li:hover a {
  border: 0px;
  color: #FFFFFF;
  text-decoration: none;
  background: #cc6600;
  -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
}

.rec-list-btn {
  width: 10vw;
}

form {
  position: relative;
  display: flex;
  width: 40vw;
  left: 50vw;
  bottom: 10vh;
}

.buildform {
  position: relative;
  height: 50vh;
  display:flex;
  width: 50vw;
  align-items: center;
  justify-content: center;
  left: 20vw;
  bottom: 15vh;
}

label {
  position: relative;
  display: flex;
  padding: 1vw;
  align-items: baseline;
}

.inventory-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 60vw;

}

.recipe-entry {
  position: relative;
  height: 20vh;
  width: 70vw;
  right: 30vw;
  top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

form.drink-number {
  position: relative;
  height: 5vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30vh;
}

.menu-inventory {
  width: 20vw;
  display: flex;
  flex-direction: row;
}

.encompass {
  display: flex;
  flex-direction: column;
}

.med-text-box {
  position: relative;
  display: flex;
  align-self:center;
  width: 20vw;
  height: 10vh;
}

.lg-text-box {
  position: relative;
  display: flex;
  align-self:center;
  width: 40vw;
  height: 20vh;
}


//////////////////////Submit Recipe Button//////////////////////

.btn {
  background: #ff9933;
  background-image: -webkit-linear-gradient(top, #ff9933, #cc6600);
  background-image: -moz-linear-gradient(top, #ff9933, #cc6600);
  background-image: -ms-linear-gradient(top, #ff9933, #cc6600);
  background-image: -o-linear-gradient(top, #ff9933, #cc6600);
  background-image: linear-gradient(to bottom, #ff9933, #cc6600);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.btn:hover {
  background: #FFC57E;
  background-image: -webkit-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -moz-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -ms-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -o-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: linear-gradient(to bottom, #FFC57E, #FF9D26);
  text-decoration: none;
}


// ///////////////////Small Inventory Submit Button//////////////////////

.sm-inv-btn {
  background: #ff9933;
  background-image: -webkit-linear-gradient(top, #ff9933, #cc6600);
  background-image: -moz-linear-gradient(top, #ff9933, #cc6600);
  background-image: -ms-linear-gradient(top, #ff9933, #cc6600);
  background-image: -o-linear-gradient(top, #ff9933, #cc6600);
  background-image: linear-gradient(to bottom, #ff9933, #cc6600);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

.sm-inv-btn:hover {
  background: #FFC57E;
  background-image: -webkit-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -moz-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -ms-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: -o-linear-gradient(top, #FFC57E, #FF9D26);
  background-image: linear-gradient(to bottom, #FFC57E, #FF9D26);
  text-decoration: none;
}

.ex-mar {
  margin: .5vw;
  padding: .5vw;

}
