// @include font-face("building", building);
// @include font-face("donau", donau);
// @include font-face("madrasxb", madrasxb);
// @include font-face("madrasxl", madrasxl);
// @include font-face("alice", alice);
// @include font-face("sacramento", sacramento);






h3 {
  font-size: 24px;
  font-family: $font-sec;
}

h1 {
  font-size: 86px;
  font-family: $font-prim;
  color: $dark-brown;
}

h2 {
  font-size: 42px;
  font-family: $font-prim;
  color: $dark-brown;
}

.drink-name {
  position: relative;
  display: flex;
  justify-content: center;
  top:10vh;
}

.servings {
  position: relative;
  display: flex;
  justify-content: center;
  top: 15vh;
}

li {
font-family:  'Alice',serif;
font-weight: bold;
color: $dark-brown;
}

.big-li {
font-weight: normal;
justify-content: center;
font-size: 46px;
width: 30vw;
font-family: $font-prim;
padding-left: 5vw;
padding-right: 60vw;
}

.big-inventory {
font-weight: normal;
justify-content: center;
font-size: 32px;
width: 30vw;
font-family: $font-prim;
padding-left: 5vw;
}
