/// Descriptive color variables

$white      : #fff;
$black      : #000;
$grey       : #878787;
$regent-st-blue : #add8e6;
$river-bed      : #48525c;
$yellow-orange  : #ffa949;
$french-yellow  : #FFDD02;
$dark-eggshell  : #FFEAC6;
$spring-green  : #8AE749;
$hot-orange  : #FF8A34;
$vibrant-teal  : #02D9D9;
$salmon  : salmon;
$dark-brown  : #42280D;

// Functional color variables

$color-prim     : $vibrant-teal;
$color-sec       : $french-yellow;
$color-back     : $dark-eggshell;
$text-light: $white;
$text-base: $vibrant-teal;
$text-dark: $grey;

$color-border-light : lighten($grey, 35%);
$color-border-dark  : $yellow-orange;

$color-link-default : $yellow-orange;
$color-link-visited : $regent-st-blue;

$color-shadow       : rgba($black,.8);
$color-body         : $white;

// Fonts//

$font-prim  : 'Sacramento', cursive;
$font-sec  : 'Alice', serif;

// Border radius

// $br: 10px;

// Asset paths

$path-img     : '../public/img';
$path-font     : '../public/fonts';

// Media query breakpoints

// $brk-narrow  : '(max-width: 768px)';
// $brk-wide    : '(max-width: 1024px)';
