.footer {
    order: 1;
    position: relative;
    display: flex;
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
}

.footer-content {
  background: #02D9D9;
  width: 100vw;
  height: 4vh;
  padding: 1vh;
}

.footer-content ul {
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
}

.footer-content li {
  display: inline-flex;
  padding: 0 2.5vw;
}

.footer-content li:hover {
color: #FFFFFF;
cursor: pointer; cursor: hand;
}
