
// //////////////////////Header Stying/////////////////////

.header-content {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
}

.header-content ul {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  justify-content: flex-end;
  text-decoration: none;
}

.landing-ul {
  padding-left: 60vw;
  padding-top: 1vw;
}

.header-content li {
  display: inline-flex;
  justify-content: space-around;
  padding-right: 4vw;
}

.header-content li:hover {
color: #FFFFFF;
cursor: pointer; cursor: hand;
}
