/*//////////////////////////RESET TYPE STUFFS/////////////////////*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* //////////////HTML5 display-role reset for older browsers////////////// */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}

/*///////////////////Box Size Border Box////////////////*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*///////////////////////Begin Code////////////////////////*/


// ///////////////////////////Layout////////////////////////////

html, body, .container {
        width: 100%;
        height: 100vh;
        margin: 0;
      }

.container {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

img[rel="main"] {
 position: absolute;
 height: 100vh;
 width: 100%;
}

.container > * {
  flex: 1 1 auto;
}

.mid1 {
    position: relative;
    width: 100%;
    align-items: flex-end;
    margin-top: auto;
    display:flex;
}

.partial-container {
  position: relative;
  z-index: 0;
  top:11.75vh;
  height: 75vh;
  width:100%;
  background-color: $color-back;
}

.columns {
  flex-direction: column;
}

.mid1.inventory-table {
  align-items:flex-start;
  justify-content: space-around;
  width: 70vw;
  top: 5vh;
  left: 30vw;
}

img[rel="inventory"] {
  height: 50vh;
  width: 50vw;
  display: flex;
  align-items: center;
}

img[rel="conversion"] {
  height:5vh;
  width: 14vw;
  display: flex;

}

.mid2 {
    position: relative;
    width: 100%;
}

.mid2.mid-inventory {
    position: relative;
    width: 100%;
    height: 30vh;
    bottom: 15vh;
    left: 46vw;
}

.mid2.mid2-landing {
  position: relative;
  display: flex;
  height: 30vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.mid h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width:40vw;
  background: $color-back;
  left: 30vw;

}

.mid h3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width:40vw;
  background: $color-back;
  left: 30vw;
}

.mid3 {
  position: relative;
  display: flex;
  width: 100%;
  height: 15vh;
  bottom: 10vh;
}

.mid3.flex-inventory {
  position: relative;
  width: 100%;
  top: 60vh;
  height: 40vh;
}

.center-inflex {
display:flex;
justify-content: center;
}

th {
  padding: .5vw;
}

td {
  padding: .5vw;
}
