<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/app.css" charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bar-Manager</title>
  </head>
  <body>


      #parse( $template )


  </body>
</html>
