.header-content {
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
}

.header-content ul {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
  justify-content: flex-end;
}

.header-content li {
  display: inline-flex;
  justify-content: space-around;
  padding-right: 4vw;
}

.header-content li:hover {
color: #FFFFFF;
cursor: pointer; cursor: hand;
}

.header-content li:first-child {
  cursor: default;
}

.header-content li:first-child:hover {
  color: #D910E8;
}
